@font-face {
  font-family: "GoodTime";
  src: url("../public/fonts/GoodTime.otf") format("opentype");
}

@font-face {
  font-family: "KoraTaki";
  src: url("../public/fonts/KoraTaki Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Super Brigade";
  src: url("../public/fonts/SuperBrigade.otf") format("opentype");
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product\ Sans\ Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product\ Sans\ Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Space mono";
  src: url("../public/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Space mono";
  src: url("../public/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@keyframes zoomOut {
  from {
    opacity: 0.5;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
